.icon {
  display: block;
  transition: transform 0.3s;

  @include IconSize;
  @include BackGroundImage;
  @include hover(transform, scale(1.2));

  &--phone {
    background-image: url("../images/icons/Icon-Phone-call.svg");

    &:hover::after {
      content: "+1 212-535-7710";
      position: absolute;
      top: -120%;
      left: 50%;
      transform: translateX(-50%);
      background-color: #eee;
      color: $main-dark;
      padding: 4px;
      border: 1px solid #ccc;
      border-radius: 4px;
      white-space: nowrap;
    }
  }

  &--menu {
    background-image: url("../images/icons/Icon-Burger-menu.svg");

    &:hover {
      background-image: url("../images/icons/Icon-Burger-menu-hover.svg");
    }
  }

  &--close {
    background-image: url("../images/icons/Icon-close.svg");
  }
}
