.input {
  height: 48px;
  background-color: #f8f8fa;
  font-family: Cinzel, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  box-sizing: border-box;
  border: 1px solid rgba($color: #000, $alpha: 0);

  &:focus {
    outline: none;
    border: 1px solid var(--main-dark, #161616);
  }

  &::placeholder {
    color: #7e7e83;
  }

  &:hover {
    color: $main-dark;
  }
}
